<div>
  <label for="">Hteam Score</label>
  {{input value=hteamScore}}
</div>
<div>
  <label for="">Ateam Score</label>
  {{input value=ateamScore}}
</div>
<div>
  <label for="">Hteam</label>
  {{input value=hteamId}}
</div>
<div>
  <label for="">Ateam</label>
  {{input value=ateamId}}
</div>

<button type="submit" {{action save}}>Save</button>
<button type="submit" {{action cancel}}>Cancel</button>
