<h3>{{id}}</h3>

<p>{{link-to 'Edit' 'games.edit' this}} <button {{action destroyRecord}}>Destroy</button></p>

<ul>
  <li>Hteam Score: {{hteam_score}}</li>
  <li>Ateam Score: {{ateam_score}}</li>
  <li>Hteam: {{hteam_id}}</li>
  <li>Ateam: {{ateam_id}}</li>
</ul>
