<div>
  <label for="">Player</label>
  {{input value=playerId}}
</div>
<div>
  <label for="">Game</label>
  {{input value=gameId}}
</div>
<div>
  <label for="">Ab</label>
  {{input value=ab}}
</div>
<div>
  <label for="">1b</label>
  {{input value=1b}}
</div>
<div>
  <label for="">2b</label>
  {{input value=2b}}
</div>
<div>
  <label for="">3b</label>
  {{input value=3b}}
</div>
<div>
  <label for="">Hr</label>
  {{input value=hr}}
</div>
<div>
  <label for="">Bb</label>
  {{input value=bb}}
</div>
<div>
  <label for="">Hbp</label>
  {{input value=hbp}}
</div>
<div>
  <label for="">K</label>
  {{input value=k}}
</div>
<div>
  <label for="">Sac</label>
  {{input value=sac}}
</div>
<div>
  <label for="">Rbi</label>
  {{input value=rbi}}
</div>
<div>
  <label for="">Sb</label>
  {{input value=sb}}
</div>

<button type="submit" {{action save}}>Save</button>
<button type="submit" {{action cancel}}>Cancel</button>
