<h3>{{id}}</h3>

<p>{{link-to 'Edit' 'stat_lines.edit' this}} <button {{action destroyRecord}}>Destroy</button></p>

<ul>
  <li>Player: {{player_id}}</li>
  <li>Game: {{game_id}}</li>
  <li>Ab: {{ab}}</li>
  <li>1b: {{1b}}</li>
  <li>2b: {{2b}}</li>
  <li>3b: {{3b}}</li>
  <li>Hr: {{hr}}</li>
  <li>Bb: {{bb}}</li>
  <li>Hbp: {{hbp}}</li>
  <li>K: {{k}}</li>
  <li>Sac: {{sac}}</li>
  <li>Rbi: {{rbi}}</li>
  <li>Sb: {{sb}}</li>
</ul>
