<div>
  <label for="">Position</label>
  {{input value=position}}
</div>
<div>
  <label for="">Firstname</label>
  {{input value=firstname}}
</div>
<div>
  <label for="">Lastname</label>
  {{input value=lastname}}
</div>
<div>
  <label for="">Team</label>
  {{input value=teamId}}
</div>

<button type="submit" {{action save}}>Save</button>
<button type="submit" {{action cancel}}>Cancel</button>
